<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <title>Lista Telefônica</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .app-name {
            text-align: center;
        }
        .jumbotron {
            width: 50%;
            margin: 2rem auto;
        }
        .selected {
            background-color: yellow !important;
        }
        .bold {
            font-weight: bold;
        }
        .fh-center {
            align-content: center;
        }
    </style>
    <script src="node_modules/angular/angular.js"></script>
    <script>
        angular
        .module("listaTelefonica", [])
        .controller("listaTelefonicaCtrl", function ($scope) {
            $scope.appName = "Lista Telefônica";
            $scope.contacts = [
                { name: "Pedro", phone: "996475231", carrier: { name: "Vivo", code: 15 }, color: "red" },
                { name: "Clara", phone: "996872345", carrier: { name: "Claro", code: 21 }, color: "green" }
            ];
            $scope.carriers = [
                { name: "Claro", code: 21 },
                { name: "Oi", code: 31 },
                { name: "TIM", code: 41 },
                { name: "Vivo", code: 15 }
            ];
            $scope.addContact = function (contact) {
                $scope.contacts.push(angular.copy(contact));
                delete $scope.contact;
            };
            $scope.removeContacts = function (contacts) {
                $scope.contacts = contacts.filter(function (contact) {
                    if (!contact.selected) return contact;
                });
            };
            $scope.isSelectedContacts = function () {
                return $scope.contacts.some(function (contact) {
                    return contact.selected;
                });
            }
        })
    </script>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <div class="app-name mb-4">
            <h1>{{ appName }}</h1>
        </div>
        <table class="table table-striped">
            <thead>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-class="{ 'selected bold': contact.selected }" ng-repeat="contact in contacts">
                    <td><input class="form-check" type="checkbox" ng-model="contact.selected" /></td>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.carrier.name }}</td>
                    <th><div style="width: 20px; height: 20px" ng-style="{ 'background-color': contact.color }"></div></th>
                </tr>
            </tbody>
        </table>
        <form name="formContact">
            <input class="form-control mb-2"
                type="text" ng-model="contact.name"
                autocomplete="off" placeholder="Nome"
                tabindex="0" ng-required="true" name="name" />
            <input class="form-control mb-2"
                type="tel" ng-model="contact.phone"
                autocomplete="off" placeholder="Telefone"
                ng-required="true" name="phone" />
            <select class="custom-select mb-3" ng-options="carrier.name for carrier in carriers" ng-model="contact.carrier">
                <option value="">Selecione uma opção</option>
            </select>
            <div ng-show="formContact.name.$invalid" class="alert alert-danger">Por favor, preencha o nome</div>
            <div ng-show="formContact.phone.$invalid" class="alert alert-danger">Por favor, preencha o telefone</div>
        </form>
        <button class="btn btn-primary" ng-click="addContact(contact)" ng-disabled="formContact.$invalid">Adicionar contato</button>
        <button class="btn btn-danger" ng-click="removeContacts(contacts)" ng-disabled="!isSelectedContacts()">Apagar contato</button>
    </div>
    <div ng-include="'footer.html'"></div> <!-- Attention: Doesn't work with file protocol -->
</body>
</html>

<!--
    ngOptions:
        -> labelAndValue for arrayRow in array
        -> value as label for arrayRow in array
        -> labelAndValue group by group.value for arrayRow in array

    ngHide, ngShow: Set display to none
    ngIf: Remove element from DOM    
-->